[class*="col-"] {
    float: left;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: azure;
}
.site {
    margin-top: 9px;
}
.relation {
    position: center;
    left: 0px;
    top: 0px;
    border: 8px cadetblue;
    font-family: Calibri;
    font-style: italic;
    font-size: 13px;
    margin-left: 500px;
    margin-top: 150px;;
}

.relation2 {
    position: center;
    left: 0px;
    top: 0px;
    border: 8px cadetblue;
    font-family: Calibri;
    font-style: italic;
    font-size: 13px;
    margin-left: 300px;
    margin-top: 150px;;
}


.relation3 {
    position: center;
    left: 0px;
    top: 0px;
    border: 8px cadetblue;
    font-family: Calibri;
    font-style: italic;
    font-size: 6px;
    margin-left: 300px;
    margin-top: 150px;;
}

d{
    margin-left: 65px;
    word-spacing: 130px;
}

.a{
    position: center;
    left: 0px;
    top: 0px;
    border: 8px cadetblue;
    font-family: Calibri;
    font-style: italic;
    font-size: 9px;
}


[class*="mrg-"] {
    margin-left: 0%;
}



table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#header {
    position: fixed;
}